logs/

printtoken
tokenization
lexer
pwd
echo
execve
printsentence
expandvar
printexpunsenv
t_env
test_export
hdoc
printredirects
hello_world
hello_world.txt
input.txt
output.txt
project
aqui
test_sentence
tkn_to_sentence
